html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: monospace;
}

.container {
  max-width: 1400px;
  margin: auto;
}
@media (min-width: 575.98px) {
  .container {
    display: grid;
    grid: "navbar navbar" "main aside" "section-newsletter section-newsletter" "footer footer"/2fr 1fr;
  }
}

@media (min-width: 575.98px) {
  .navbar {
    grid-area: navbar;
  }
}

@media (min-width: 575.98px) {
  .main {
    grid-area: main;
  }
}

.aside {
  display: none;
}
@media (min-width: 575.98px) {
  .aside {
    display: block;
    grid-area: aside;
  }
}

@media (min-width: 575.98px) {
  .section-newsletter {
    grid-area: section-newsletter;
  }
}

@media (min-width: 575.98px) {
  .footer {
    grid-area: footer;
  }
}

@media (min-width: 575.98px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: calc(320px + (100vw - 575.98px)/416*100);
    gap: 10px;
  }
}
@media (min-width: 991.98px) {
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 440px;
    gap: 10px;
  }
}

.navbar {
  padding: 10px 7px;
  border-bottom: 2px solid gray;
  overflow: hidden;
}
.navbar__a {
  text-decoration: none;
  color: black;
}
.navbar__a:hover {
  color: coral;
  font-weight: bold;
}
@media (min-width: 767.98px) {
  .navbar {
    padding: 15px 7px;
  }
}
.navbar__logo {
  display: inline-block;
}
.navbar__bars {
  float: right;
}
@media (min-width: 767.98px) {
  .navbar__bars {
    display: none;
  }
}
.navbar__menu {
  display: none;
  clear: right;
}
@media (min-width: 767.98px) {
  .navbar__menu {
    display: inline-block;
    float: right;
  }
}
@media (min-width: 767.98px) {
  .navbar__li {
    display: inline-block;
  }
}

@media (min-width: 767.98px) {
  .main {
    clear: right;
  }
}

.main {
  padding: 0 7px;
  padding-bottom: 20px;
}

.news {
  width: 100%;
  padding-top: 20px;
}
.news__title {
  padding-bottom: 10px;
}
.news__img {
  width: 100%;
  height: 40vw;
  object-fit: cover;
}
@media (min-width: 575.98px) {
  .news__img {
    height: calc(200px + (100vw - 575.98px)/416*100);
  }
}
@media (min-width: 991.98px) {
  .news__img {
    max-width: 300px;
    height: 300px;
  }
}

.section-newsletter {
  padding: 20px 7px;
  background-color: #f2f4f5;
  text-align: center;
}
.section-newsletter__title, .section-newsletter__p {
  padding: 15px 5% 0 5%;
}

.form {
  padding-top: 10px;
}

.aside {
  padding: 0 7px;
}
@media (min-width: 575.98px) {
  .aside {
    padding-left: 10%;
  }
}
.aside__title {
  padding: 20px 0 10px 0;
}
.aside__about-us, .aside__tags {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}
.aside__ul {
  padding: 0;
  list-style: none;
}
.aside__li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
  position: relative;
}
.aside__li:hover {
  background-color: coral;
  width: calc(100% + 10px);
  left: -10px;
}

.outstanding-news {
  padding-bottom: 10px;
}
.outstanding-news__img {
  width: 100%;
  height: auto;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  border-width: 0;
}
.button--form {
  background-color: coral;
  color: white;
}
.button--form:hover {
  background-color: steelblue;
}
.button--navbar {
  background-color: steelblue;
  color: white;
}
.button--navbar:hover {
  background-color: coral;
}

/*# sourceMappingURL=style.css.map */
