.navbar {
  padding: 10px $px;
  border-bottom: 2px solid gray;
  overflow: hidden;

  &__a {
    text-decoration: none;
    color: black;
    &:hover{
      color:coral;
      font-weight: bold;
    }
  }

  @include response-to('device-medium') {
    padding: 15px $px;
  }

  &__logo {
    display: inline-block;
  }

  &__bars {
    float: right;

    @include response-to('device-medium') {
      display: none;
    }
  }

  &__menu {
    display: none;
    clear: right;

    @include response-to('device-medium') {
      display: inline-block;
      float: right;
    }
  }

  &__li {
    @include response-to('device-medium') {
      display: inline-block;
    }
  }

}

.main{
  @include response-to('device-medium') {
  clear: right;
  }
}